.DS_Store
*.pyc
satodime_tool.ini
__pycache__/
build/
dist/
contrib/build-linux/appimage/build/
contrib/build-linux/appimage/.cache/
contrib/build-wine/.cache/
contrib/build-wine/dist/
contrib/build-wine/build/
contrib/build-wine/fresh_clone/
#contrib/build-wine/*.spec
contrib/osx/.cache/
contrib/osx/build-venv/
SatodimeTool/__pycache__/
SatodimeTool/api_keys.ini
SatodimeTool.egg-info/